.fontBold{
    font-family: 'DIN Next Slab Pro'; 
}

.footer{
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
    background: #199E8F;
    height: 40px;
    color: white;
    padding-right: 20px;
}